**/.gradle
**/build/

# Ignore Gradle GUI config
**/gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!**/gradle-wrapper.jar

# Cache of project
**/.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

### Builds and binaries ###
**/out/
**/build/
**/dist/
**/bin/
**/target/

**/HELP.md

### STS ###
**/.apt_generated
**/.classpath
**/.factorypath
**/.project
**/.settings
**/.springBeans
**/.sts4-cache

### IntelliJ IDEA ###
**/.idea
**/*.iws
**/*.iml
**/*.ipr

### NetBeans ###
**/nbproject/private/
**/nbbuild/
**/dist/
**/nbdist/
**/.nb-gradle/

### VS Code ###
**/.vscode/

**/.DS_Store
**/node_modules

# local env files
**/.env.local
**/.env.*.local

# Log files
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
